@media (max-width: 600px) {
  .news-item {
    width: 50% !important;
  }
}

@media (max-width: 400px) {
  .news-item {
    width: 100% !important;
  }
}



* {
  font-family: serif;
  box-sizing: border-box;
}

button {
  position: fixed;
  top: 30px;
  left: 30px;
  border: 1px solid rgb(37, 36, 36);
  border-radius: 4px;
  box-shadow: 2px 2px gray;
  background-color: #ffd61a;
  opacity: 0.8;
}

button:hover {
  opacity: 0.5;
}

button:active {
  box-shadow: none;
  top: 32px;
  left: 32px;
  transition: 0.3s;
}


.top {
  padding: 50px 0;
}

.top h1 {
  color: #95681f;
  text-shadow: 1px 1px gray;
  text-align: center;
  margin-bottom: 15px;
  font-size: 52px;
}

.top p {
  text-align: center;
}

.main {
  background-image: url("../img/vintage-paper-7-1560x2355.jpg");
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.news-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

.news-item {
  width: 33%;
  padding: 25px;
}

.news-item img {
  width: 100%;
  padding-bottom: 5px;
}

.news-item .news-day {
  text-align: right;
  padding-bottom: 5px;
}

.news-sentence {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 30px;
  max-height: 180px;
}